body{
  background: url(../imagen/paisaje.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
div{
  border: 2px solid black;
}
#primera{

}
#col1{

}
div {

}
header{
  text-align: center;

}
